.container__data {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    min-height: 100vh;
    margin-top: 30px;
    font-size: 20px;
}

.filter {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter select,
.filter input,
.filter button {
    height: 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
}

.filter select {
    margin-right: 10px;
}

.filter input {
    width: 33%;
    margin-right: 10px;
}

.filter button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter button:hover {
    background-color: #0056b3;
}


.data-table th {
    background-color: #f2f2f2;
    font-weight: 600;
    padding: 10px 5px;
    border: 1px solid #000000;
}

.data-table td {
    text-align: center;
    border: 1px solid #000000;
    margin-top: 5px;
    color: white;
    font-weight: 300;
    padding: 10px 5px;
}

.data-table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    /* border-radius: 20px; */
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #ff7f0e;
    color: #fff;
}

.pagination button.active {
    background-color: #007bff;
    color: #fff;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.pagination span {
    margin: 0 5px;
    color: #666;
}

.page-size select,
.page-size input,
.page-size button{
    margin-left: 5px;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
}